* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

body
{
  position: relative;
  width: 100%;
}
section
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:var(--purple-bg);
}
a
{
  text-decoration: none;
  color: #ffffff9e;
  transition: 0.2s;
}
/* nav a::before
{
  content: '';
  position: absolute;
  height: 20px;
  width: 4px;
  border-radius: 20px;
  background-color: #4fff4b;

} */
a:hover
{
  color: #fff;
  transition: 0.2s;
}
header
{
  display: flex;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
header h3
{
  color: #fff;
  font-weight: 700;
}
header span
{
  color: #4fff4b;
}
nav
{
  position: relative;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
input
{
  width: 240px;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  background-color: var(--dark-bg);
}
input~span
{
  position: absolute;
  width: 45px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  right: 0;
  background-color: var(--button-bg);
}
form
{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 240px;
}
article
{
  padding: 50px;
}
article h1
{
  font-weight: 700;
  color: var(--button-bg);
} 
article p
{
  padding: 20px 0 10px 0;
} 
.card-header
{
  display: flex;
  padding: 0 100px 0 100px;
  color: #fff;
}
.card-header img 
{
  padding: 50px;
}

main
{
  display: flex;
  flex-direction: column;
  border-top: #4fff4b 5px solid;
  padding: 70px 120px 70px 120px;
}
main .container-first
{
  width: 100%;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 350px 300px;
  grid-auto-flow: column;
  justify-content: space-around;
}
main .container-second
{
  width: 100%;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  grid-auto-flow: row;
  justify-content: space-around;
}

main span
{
  font-weight: 600;
  font-size: 13px;
}

h4
{
  padding: 15px 0 15px 0;
  font-weight: 600;
  color: var(--purple-bg);
}