
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/functions";

@import "bootstrap/scss/utilities";


*
{
    font-family: 'Poppins', sans-serif;
}

@each $color, $value in $colors {
    .bg-#{$color}{
        background-color: $value !important;
    }

    .text-#{color}{
        color: $value !important;
    }
}

// $all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

// $utilities: map-merge(
//   $utilities,
//   (
//     "color": map-merge(
//       map-get($utilities, "color"),
//       (
//         values: map-merge(
//           map-get(map-get($utilities, "color"), "values"),
//           (
//             $all-colors
//           ),
//         ),
//       ),
//     ),
//   )
// );


