*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    min-height: 100vh;
}
.container
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    height: 100vh;
    width: 30%;
    overflow: hidden;
    background-color: rgb(63, 215, 164);
}
.menu, .logOut
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 40px; 
}
ul li
{
    display: flex;
    width: 140px;
    padding: 10px;
    list-style: none;
    border-radius: 20px;
    width: 80%;
    background-color: rgba(145, 255, 220, 0.879);
    margin: 5px;
}
ul li span
{
    margin: 5px 10px;
}
img
{
    border-radius: 15px;
    width: 70px;
}