*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
      --light-grey: #dce4e3;
    --text-color: #084236;
  }

body
{
    display: flex;
    height: 100vh;
    color: var(--text-color);
}

h2
{
    padding: 20px;
}

img
{
    width: 28px;
}

button
{
    position: absolute;
    width: 80px;
    height: 100%;
    background-color: var(--green);
    border: none;
    right: 0;
    cursor: pointer;
    z-index: 10;
}

button img
{
    width: 40%;
}

input[type="text"],
input:focus
{
    background-color: transparent;
    border: none;
    font-size: 16px;
    outline: none;
}

nav
{
    width: 100%;
    padding: 5px;
}
ul li  
{
    display: flex;
    align-items: center;
    height: 60px;
    padding: .5em;
    margin: 5px 0 5px 0;
    border-radius: 20px;
}
ul li:first-child,
ul li:hover
{
    cursor: pointer;
    background-color: var(--light-green);
}  
ul li span
{
    margin: 10px 30px 10px 10px;
}

img[alt="photo"]
{
    border-radius: 15px;
    width: 70px;
}

#sidebar
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 5%;
    overflow: hidden;
    transition: .4s;
    background-color: var(--green);
}


.headerBar
{
    display: flex;
    align-items: center;
    padding: 20px;
    height: 60px;
    width: 100%;
}

.logOut
{
    display: flex;
    align-items: center;
    padding: .5em;
    background-color: var(--light-green);
}

.logOut img
{
    margin: 6px;
}

.logOut button
{
    background-color: var(--light-green);
}

.user
{
    display: flex;
    flex-direction: column;
}

.user span:last-child
{
    margin: 5px;
    font-size: 10px;
}

.headerBar, .logOut
{
    position: relative;
}
