@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root 
{
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
}
body
{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
nav
{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 30px;
    text-transform: uppercase;
    z-index: 1;
}
nav a
{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: var(--text);
}
nav div
{
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
}
nav input
{
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding-left: 10px;
    border: none;
}
input:focus
{
    outline: none;
}
main
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
    background: var(--main-background);
}
aside
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 100px 150px 0 100px;
    left: 0;
    width: 40%;
    height: 100vh;
    background-color: #fff;
}
aside h1
{
    font-size: 2.7rem;
    padding: 20px 0 20px 0;
}
aside h4
{
    font-size: 1.7rem;
    padding: 20px;
}
aside p
{
    font-size: 15px;
}
aside button
{
    width: 220px;
    height: 70px;
    font-size: 1.1rem;
    color: #fff;
    background-color: var(--button);
    border: none;
}
#shoesPhoto
{
    position: relative;
    right: 0;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#shoesPhoto img
{
    /* padding: 150px; */
    width: 500px;
}
#shoesGalery
{
    position: absolute;
    padding: 20px;
    height: 100px;
    width: 70%;
    display: flex;
    bottom: 70px;
}
#shoesGalery img
{
    margin: 20px;
    width: 80%;
    height: 150px;
}
.menuFooter
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-background);
}
.menuFooter a
{
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: var(--text);
    text-transform: uppercase;
}
.menuFooter video
{
    height: 100px;
}
#socialMedias
{
    width: 100%;
    display: flex;
}
#socialMedias span
{
    width: 90%;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    transition: 0.2s;
}
#socialMedias span:hover
{
    transition: 0.2s;
    background-color: #7e7a7a;
}
#btnMore
{
    width: 340px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
}
#btnMore:hover
{
    background-color: rgba(0, 0, 0, 0.66);
}
#btnMore span
{
    padding: 5px 10px 0 10px;
}
.photo:hover
{
    border-bottom: 4px solid #FF0000;
}

